<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fashion.supplychain.production.mapper.PurchaseCartItemMapper">

    <select id="selectByCartId" resultType="com.fashion.supplychain.production.entity.PurchaseCartItem">
        SELECT * FROM t_purchase_cart_item 
        WHERE cart_id = #{cartId} 
          AND delete_flag = 0
        ORDER BY material_type, sort_order
    </select>
    
    <delete id="deleteByIds">
        DELETE FROM t_purchase_cart_item WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
