.filter-card {
  background-color: #fafafa;
  margin-bottom: 16px;
}

.mb-sm {
  margin-bottom: 16px;
}

.page-card {
  min-height: calc(100vh - 64px - 32px);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.page-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: var(--primary-text-color);
}
