.standard-search-bar {
  display: flex;
  align-items: center;
}

.standard-search-row {
  width: auto;
}

.standard-search-input {
  width: 200px;
}

.standard-search-date {
  width: 260px;
}

.standard-search-status {
  width: 120px;
}
