{
	servers {
		protocols h1
	}
}

api.webyszl.cn {
	reverse_proxy /ws/* backend:8088 {
		flush_interval -1
	}
	reverse_proxy backend:8088 {
		flush_interval -1
	}
}

db.webyszl.cn {
	reverse_proxy cloudbeaver:8978
}

www.webyszl.cn {
	reverse_proxy /api/* backend:8088 {
		flush_interval -1
	}
	reverse_proxy /ws/* backend:8088 {
		flush_interval -1
	}
	reverse_proxy frontend:80
}

webyszl.cn {
	redir https://www.webyszl.cn{uri} permanent
}
